/*START OF hero secton*/
.hero{
	background: $orange-light;
background: -moz-linear-gradient(top, $orange-light 0%, $orange 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, $orange-light), color-stop(100%, $orange));
background: -webkit-linear-gradient(top, $orange-light 0%, $orange 100%);
background: -o-linear-gradient(top, $orange-light 0%, $orange 100%);
background: -ms-linear-gradient(top, $orange-light 0%, $orange 100%);
background: linear-gradient(to bottom, $orange-light 0%, $orange 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff9500', GradientType=0 );
   

   .container .row{
   	margin-left:0;
   	margin-right:0;
   }
   .header{
   	color:$white;
    text-shadow: 0px 1px $black;
    font-size:2em;
   }

   .sub-header{
    color:$white;
    text-shadow: 0px 1px $black;
   }

   .btn-default{
   	background-color:$black;
   	color:$white;
   	border:none;
   	border-radius: none;
   	margin:10px 10px 20px 10px;
   }

   /*css shake*/
   .shake-slow:hover, .shake-trigger:hover .shake-slow, .shake-slow.shake-freeze, .shake-slow.shake-constant{
    animation: shake-slow 20s ease-in-out infinite;
   }
  
   .hand-wrapper{
   	min-height:150px;
    padding:0;
   	.img-responsive{
   		max-width:66%;
   		margin:0 auto;
   	}
   }
}

 .logo{
    margin-top:5px;
    width:200px;
}
/*.hero*/



@media screen and (min-width:768px) {
    .logo{
      margin-top:5px;
      width:350px;
    }/*.logo*/
    .hero{
          .container{
            min-height:580px;
          }/*container*/

          .hand-wrapper{
            .img-responsive{
              max-width:120%;
            }
          }/*hand-wrapper*/
          .text-center{
              padding: 30px 10px 0px 10px;
                  .header{
                    font-size:3.5em;
                    font-weight:bold;
                  }
                  .sub-header{
                    font-size:1.8em;
                  }
                  .btn-default{
                    margin:30px 10px 184px 10px;
                  }
          }/*text-center*/

         
          
    }  
}

/*END OF hero section*/