/*START OF hero secton*/
.hero{
	background: $orange-light;
background: -moz-linear-gradient(top, $orange-light 0%, $orange 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, $orange-light), color-stop(100%, $orange));
background: -webkit-linear-gradient(top, $orange-light 0%, $orange 100%);
background: -o-linear-gradient(top, $orange-light 0%, $orange 100%);
background: -ms-linear-gradient(top, $orange-light 0%, $orange 100%);
background: linear-gradient(to bottom, $orange-light 0%, $orange 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff9500', GradientType=0 );
   
   .container{
    /*padding:0;*/
   }
   .container .row{
   	margin-left:0;
   	margin-right:0;
   }
   .header{
   	color:$white;
    text-shadow: 0px 1px $black;
    font-size: 23px;
    font-weight: bold;
   }
   .header.first{
      font-size:40px;
   }
   .header.second{
      margin-top:10px;
   }

   .sub-header{
    color:$white;
    text-shadow: 0px 1px $black;
    font-size:16px;
    margin-bottom:25px;
    font-weight:lighter;
        span{
            font-weight:bold;
        }
   }

   .btn-default{
   	background-color:$black;
   	color:$white;
   	border:1px solid $black;
   	border-radius: none;
   	margin:10px 10px 20px 10px;
    font-weight:bold;
    transition:all .3s ease-in-out;
    &:hover{
        background-color:$orange-light;
        color:$black;
    };
   }

   /*css shake*/
   .shake-slow:hover, .shake-trigger:hover .shake-slow, .shake-slow.shake-freeze, .shake-slow.shake-constant{
    animation: shake-slow 20s ease-in-out infinite;
   }
  
   .hand-wrapper{
     	min-height:150px;
      padding: 20px 0px 0px 0px;
     	.img-responsive{
     		max-width:40%;
     		margin:0 auto;
        margin-top:-10px;
        transform: rotate(8deg);
        box-shadow: 0px 0px 25px $black-trans;
     	}
   }/*hand-wrapper*/

   .text-wrapper{
     padding-left:0;
     padding-right:0;
   }/*text-wrapper*/
}

 .logo{
    margin-top:10px;
    width:250px;
    margin-left:-5px;
}
/*.hero*/



@media screen and (min-width:768px) {
    .logo{
      margin-top:20px;
      width:350px;
      margin-top:20px;
      margin-left:-15px;
    }/*.logo*/
    .hero{
          .container{
            min-height:580px;
            padding-left:15px;
            padding-right:15px;
          }/*container*/

          .hand-wrapper{
              .img-responsive{
               max-width:100%;
               margin-top:64px;
               transform:rotate(-15deg);
              }
          } /*.hand-wrapper*/


        
          .text-wrapper{
              padding: 30px 15px 0px 40px;
                  .header{
                    font-size:40px;
                  }


                  .header.first{
                     font-size:55px;
                  }
                  .header.second{
                      margin-top:10px;
                     font-size:30px;
                  }
      
                  .sub-header{
                    font-size:22px;
                    margin-bottom:210px;

                  }
                  .btn-default{
                   /* margin:30px 10px 184px 10px;*/
                    padding:15px 50px;
                    font-weight:bold;
                    font-size:26px;
                  }
          }/*text-center*/

         
          
    }  
}


@media screen and (min-width:992px) {
   .hero{
        .hand-wrapper{
            .img-responsive{
              max-width:70%;
              margin-top:65px;
            }
        }
   }  
}


@media screen and (min-width:1200px) {
   .hero{
        .hand-wrapper{
            .img-responsive{
              max-width:60%;
              margin-top:37px;
            }
        }

        .logo{
          width:460px;
        }
   }  
}


/*END OF hero section*/