/* START OF how it works section*/
.how-it-works{
  background-color:$grey-bg;
  color:$blue-gray;
    .container > .row > h3{
      font-size:43px;
      padding:50px 0px;
    }
    .card{
      margin-bottom:90px;
      		.how-it-works-icons{
      			width:60%;
      		}
      		.button{
      			background-color:$blue-light;
      			border:1px solid $blue-light;
      			transition:all .3s ease-in-out;
      			&:hover{
      				background-color:$black;
      				border:1px solid $black;
      				color:$white;
      			}
      		}	
    }

    #card_1:before{
      content:"1";
    }
    #card_2:before{
      content:"2";
    }
    #card_3:before{
      content:"3";
    }

    #card_1:before,#card_2:before,#card_3:before{
      position: absolute;
      top: 0;
      left: 45px;
      font-size: 50px;
      color: $white;
    }

}
/* END OF how it works section*/


@media screen and (min-width:768px) {
     .how-it-works{
        .container{
          margin-top:-140px;
        }
     }
}