.termin-vereinbaren{
	text-align:center;
	background-color:$orange-light;
	padding-top:20px;
	padding-bottom:40px;
	.container{
		.flexrow{
			display:flex;
			flex-direction: row;
			flex-wrap:wrap;
			align-items:center;
			justify-content:center;
		}
	}
	
	.text-wrapper{
		display:flex;
		flex-direction: row;
		align-item:center;
		justify-content:center;
		color:$white;
		font-weight:300;
		margin:0;
		h3{
			margin-top:20px;
			margin-bottom:20px;
		}
		span{
			font-weight:bold;
		}
	}

	.button-wrapper{
		text-align:center;
		.button{
			background-color:$grey-mid-tone;
			border-top:0;
	   		border-right:0;
	   		border-left:0;
			border-bottom:2px solid $grey-dark-tone;
			box-shadow: inset 0 -2px $grey-dark-tone;
	   		color:$white;
	   		width:275px;
	   		padding:15px 0px;
	   		&:hover{
	   			background-color:$grey-hover;
	   		};
		}
	   /*	margin:10px 10px 20px 10px;*/
	}
}/*.termin-vereinbaren*/


@media screen and (min-width:768px) {
	 .termin-vereinbaren{
		
		background-color:$orange-light;
		padding-top:20px;
		padding-bottom:20px;
		.text-wrapper{
			width:50%;
			padding:0px 15px;
			justify-content:flex-end;
			padding:0;
			color:$white;
			font-weight:300;
			h3{
				text-align:right;
			}
			span{
				font-weight:bold;
			}
		}

		.button-wrapper{
			width:50%;
			padding:0px 15px;
			text-align:left;
			.button{
		   		width:90%;
			}
		   /*	margin:10px 10px 20px 10px;*/
		}
	}/*.termin-vereinbaren*/

}/*@media screen and (min-width:768px)*/





@media screen and (min-width:992px) {
	 .termin-vereinbaren{
		
		background-color:$orange-light;
		padding-top:40px;
		padding-bottom:40px;
		.text-wrapper{
			justify-content:flex-end;
			padding:0px 15px 0px 40px;
			color:$white;
			font-weight:300;
			span{
				font-weight:bold;
			}
		}

		.button-wrapper{
			text-align:left;
			padding:0px 40px 0px 15px;
		    .button{
		    	font-size:20px;
		    	font-weight:bold;
		    }
		}
	}/*.termin-vereinbaren*/

}/*@media screen and (min-width:768px)*/



