/*START OF testmonial*/
.testmonial{
  color:$blue-gray;

  .container > .row > h3{
    font-size:25px;
    padding:50px 0px;
  }



  .container{
    .row{
      margin-right:0;
      margin-left:0;
    }
  }

  .stars-block{
      color:$gold;
      margin-top:20px;
      margin-bottom:75px;
        .glyphicon{ 
          font-size:2em;
        }
  }/*.stars-block*/

  
  .recommend-card{
    margin-bottom:75px;
    padding-left:0px;
    padding-right:0px;
      .card-wrapper{
        /* padding-left:20px;
         padding-right:20px;*/
           .card{
              position:relative;
              background-color:$grey-sub-super-light;
              border-bottom:5px solid $grey-super-light;
              padding:50px 20px 10px 20px;
                  .author-image{
                    position:absolute;
                    width:80px;
                    height:80px;
                    border-radius: 100%;
                    border:4px solid $orange;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%,-50%);
                  }
                  h5{
                    margin-top:20px;
                  }
           }/*.card*/
      }/*.card-wrapper*/
  }/*.recommend-card*/

  .recommend-card:first-of-type{
      .card-wrapper{
        .card{
          .author-image{
            border-color:transparent;
          }
        }
      }
  }/*.recommend-card:first-of-type*/
  
 
}/*.testmonial*/








@media screen and (min-width:768px) {
   .testmonial{
        .container > .row > h3{
          font-size:46px;
        }


      .recommend-card{
        padding-left:15px;
       padding-right:15px;
      }
   }/*.testmonial*/
}
/*END OF testmonial*/


