/* START OF 3 packages tabs*/
.nav-tabs > li{
	width:calc(100% / 3);
}




/* END OF 3 packages tabs*/





/*START OF  three-packages-section*/
.three-packages-section{
  ul.nav-tabs{
  /*	display:flex;
  	flex-wrap:wrap;
  	flex-direction: row;*/
  	/*align-items: stretch;*/
  	   border:0;
		li{
/*			background-color:$grey-sub-super-light;*/
			height:187px;
			margin:0;
			&.active a{
				background-color:$white;
				border-bottom:1px solid $white;
				.tabs-text-wrapper{
					h5{
						color:$orange;
					}
					p{
						color:$orange;
					}
				}
			};
			&:last-of-type a{
				border-right:0;
				margin-right:0;
			};
				a{
					display:flex;
  					flex-wrap:wrap;
  					flex-direction: row;
  					justify-content:center;
  					align-items: center;
				/*	border-top-right-radius:4px;
					border-top-left-radius:4px;*/
					margin:0;
					/*margin-right:20px;*/
					background-color:$grey-tab-bg;
					border-radius:0;
					padding:0;
					height:100%;
					cursor: pointer;
					z-index:999;
					border-bottom:1px solid $grey-super-light;
					border-right:1px solid $grey-super-light;
					&:hover{
						background-color:$white;
						border-bottom:1px solid $white;
						.tabs-text-wrapper{
							h5{
								color:$orange;
							}
							p{
								color:$orange;
							}
						}
					}
 						.tab-image-wrapper{
 							width:100%;
 							display:flex;
 							flex-wrap:wrap;
 							justify-content:center;
 							align-items: center;
 							height:135px;
							img{
								width:80px;
								box-shadow:0px 0px 5px $black-trans;
							}
 						}
						.tabs-text-wrapper{
							width:100%;
							min-height:40px;
							display:flex;
 							flex-wrap:wrap;
 							justify-content:center;
 							align-items: baseline;
								h5{
									margin-top:0;
									margin-bottom:0;
									color:$black-light;
									font-weight:bold;
								}
								p{
									color:$black-light;
								}
						}
				}/*a*/
		}
  }/*.nav-tabs*/





  .container{
  	padding-left:0;
  	padding-right:0;


  	.tab-content{
  		padding-left:15px;
  		padding-right:15px;
      
      .tab-pane{
      	  .detail-headline{
      	  	margin:0;
      	  	padding:20px 0px 20px 0px;
      	  	font-size: 18px;
    		font-weight: bold;
    		span{
    			font-weight:lighter;
    			color:$grey-light;
    		}
    		/*text-align: left;
*/
      	  }

      	  .detail-sub-headline{
      	  /*	text-align:left;*/
      	  	padding-left:0;
      	  	padding-right:0;
      	  }

      	  .price-big-wrapper{
      	  	transition:all .2s ease-in-out;
      	  }

      	  .price-wrapper{
      	  	/*background-color:$blue;*/
      	  	background-image: url('/images/price-tag-bg.png');
      	  	background-size:cover;
      	  	background-repeat:no-repeat;
      	  	color:$black;
      	  	font-size:1.5em;
      	  	width:4.21em;
      	  	height:4.21em;
      	  	margin:0 auto;
      	  	border-radius: 100%; 
    	  	position:relative;
      	  	transform:rotate(10deg);
      	  	transition:all 1s ease-in-out;
      	  	&:hover{
      	  		transform: rotate(370deg);
      	  	};

      	  		.price{
      	  			position:absolute;
      	  			left:50%;
      	  			top:50%;
      	  			font-size:0.8em;
      	  			font-weight:bold;
      	  			line-height: 24px;
      	  			transform:translate(-50%, -50%);
      	  			span{
      	  				font-size:1.7em;
      	  			}
      	  		}
      	  }
      	  p{
             color:$grey-light;
             font-size:16px;
             line-height: 23px;
             margin:0;
             padding:10px;
      	  }
          .image-wrapper{
              /*padding-top:15px;
              padding-bottom:15px;*/
              position:relative;
              .detail-image{
              	  position:aboslute;
                  transform:rotate(-13deg);
                  padding:10px;
                  width:200px;
                  margin-top:20px;
              }
          }

          .checking-points{
          	 position:relative;
             padding-left:10%;
             padding-right:10%;
                  ul{
                  	padding-top:10px;
                  	transition:all .2s ease-in-out;
                  }
                  li {
                      display: block;
                      text-align:left;
                      font-size:16px;
                      border-bottom:1px solid $grey-super-light;
                      padding-bottom:4px;
                      margin:20px 0px;
                  }

                  li:before {
                      /*Using a Bootstrap glyphicon as the bullet point*/
                      content: "\e013";
                      font-family: 'Glyphicons Halflings';
                      font-size: 13px;
                      float: left;
                      margin-top: 4px;
                      margin-left: -40px;
                      color: $green;
                  }/*li:before*/
                  .btn.btn-default{
                  	border:none;
                  	margin:20px 0px 40px 0px;
                  	font-size:19px;
                  	background-color: $yellow;
    				color: $white;
    				border-bottom: 2px solid #bd8a00;
    			/*	-webkit-box-shadow: inset 0 -2px #bd8a00;*/
    				box-shadow: inset 0 -2px #bd8a00;
    				padding:15px 50px;
    				 &:hover{
    				 	background-color:$yellow-dark;
    				 };
                  }
          }/*.checking-points*/

          .tab-pane-sub-content{
          	    border-top:1px solid $grey-super-light;
          	    padding-top: 30px;
    			padding-bottom: 30px;
    			width:80%;
    			margin-left:auto;
    			margin-right:auto;
				.garantie-image{
					width:120px;
				}
				.garantie-text-wrapper{
						.garantie-sub-headline{
                            padding:0;
                            margin:0;
						}
						.garantie-sub-body-text{
                            padding:0;
						}
				}
		  }/*.tab-pane-sub-content*/
      }/*.tab-pane*/


      .tab-pane:last-of-type{
      	.detail-image{
      		width:300px;
      	}
      }
  	}/*.tab-content*/
  }/*.container*/

}/*.three-packages-section*/











@media screen and (min-width:768px) {
   .three-packages-section{
		   	  ul.nav-tabs{
		   	  	height:130px;
		  /*	display:flex;
		  	flex-wrap:wrap;
		  	flex-direction: row;*/
		  	/*align-items: stretch;*/
				li{
					/*flex-grow:1;*/
					height:100%;
					margin:0;
						a{	
							padding:0px 10px;
							/*height:130px;*/
		 						.tab-image-wrapper{
		 						   width:75px;
									.detail-image{
										width:70px;
										margin-top:35;
									}
		 						}
								.tabs-text-wrapper{
									align-self:flex-start;
									justify-content:flex-start;
     								padding:0px 14px;
 									/*align-items: baseline;*/
									margin-top:25px;
									width: calc(100% - 80px);
									h5{
										text-align: left;
										font-size:18px;
										margin-bottom:8px;
									}
									p{
										text-align:left;
										line-height:16px;
										padding-left:2px;
										font-size:13px;
									}

								}
						}
				}
		  }/*.nav-tabs*/

   		  background-color:$tab-color;
   		  max-height:748px;
		  .container{
		     /*box-shadow: 0px 0px 20px 0px $shadow-color;*/
		     position:relative;
			 top:-130px;



			 .tab-content{
			 	background-color:$white;
			 	padding-left:15px;
			 	padding-right:15px;

			 	.tab-pane{
			 		.tab-pane-content{
			 			padding-left:80px;
			 			padding-right:80px;
			 		}
			 		
			 		.price-big-wrapper{
			 			 position:absolute;
			 			 right:-30px;
			 			 top:192px;
				 			.price-wrapper{
				 				right:-30%;
				 			}
			 		}




			 		h4{
			 			margin-top:0;
			 			padding:30px;
			 		}
			 		.image-wrapper{
			 			padding-top:35px;
			 			padding-bottom:15px;
			 			padding-left:0;
			 			padding-right:0;
			 			.detail-image{
			 				position:relative;
			 				width:120%;
			 				left:-65px;
			 			}
			 		}

			 		.checking-points{
			 			padding-top:15px;
			 			padding-left:0;
			 			padding-right:0;
			 			text-align:left;

			 			.detail-headline{
			 				text-align: left;
			 				font-size:24px;
			 				padding-bottom:0;
			 			}
			 			.detail-sub-headline{
			 				text-align: left;
			 				line-height:20px;
			 				padding-bottom:22px;
			 			}
			 			ul{
		                  	padding-top:0px;
		                }
			 			li {
			 				display: block;
			 				text-align:left;
			 				border:none;
			 				margin:3px 0px;
			 			}

			 			li:before {
			 				/*Using a Bootstrap glyphicon as the bullet point*/
			 				font-size: 1.1em;
			 				margin-top: 0px;

			 			}/*li:before*/

			 			.btn.btn-default{
			 				/*margin-right:200px;*/
			 			}
			 		}/*.checking-points*/


			 		.tab-pane-sub-content{
							width:90%;
							margin:0 auto;
							padding-top:15px;
							padding-bottom:15px;
							.garantie-text-wrapper{
								text-align:left;
								padding-top:20px;
								padding-left:60px;
							}
			 		}/*.tab-pane-sub-content*/

			 	}/*.tab-pane*/
			 }/*.tab-content*/

		  }/*.container*/
   }/*.three-packages-section*/
}/*@media screen and (min-width:768px)*/








@media screen and (min-width:992px){
	.three-packages-section{
			 max-height:748px;
			 .container{
			 	top:-122px;
			 }

			ul.nav-tabs{
				height:122px;
		  /*	display:flex;
		  	flex-wrap:wrap;
		  	flex-direction: row;*/
		  	/*align-items: stretch;*/
				li{
					/*flex-grow:1;*/
					height:100%;
					margin:0;
						a{	
							border-top-right-radius:4px;
							border-top-left-radius:4px;
							margin-right:10px;
							/*padding:0px 10px;*/
		 						.tab-image-wrapper{
		 						   width:80px;
									img{
										width:70px;
									}
		 						}
								.tabs-text-wrapper{
									align-self:flex-start;
									justify-content:flex-start;
     								padding:0 5px;
 									/*align-items: baseline;*/
									margin-top:16px;
									width: calc(100% - 80px);
									h5{
										text-align: left;
										font-size:22px;
									}
									p{
										text-align:left;
									}

								}
						}
				}/*li*/
				li:last-of-type{
					a{
						margin-right:0;
					}
				}
		  }/*.nav-tabs*/

			


			 .tab-content{
		  		padding-left:15px;
		  		padding-right:15px;
		  		position:relative;
		  		top:0px;

			     .tab-pane{
			      	 .tab-pane-content{
			      	 	.image-wrapper{
			      	 		.detail-image{
			      	 			width:105%;
			      	 			left:-50px;
			      	 			margin-top:-10px;
			      	 		}
			      	 	}
						.checking-points{
							.detail-headline{
								font-size:32px;
							}
							.price-big-wrapper{
								.price-wrapper{
									right:0%;
									top:-38px;
									font-size:2.5em;
									.price{
										line-height:41px;
									}
								}
							}
							ul{
								margin-top:15px;
								margin-bottom:15px;
							}
							.btn.btn-default{
								/*margin-right:100%;*/
							}
						}
			      	 }/*.tab-pane-content*/
				 }/*.tab-pane*/
      	  	}/*.tab-content{*/


	}
   
}/*@media screen and (min-width:992px)*/




@media screen and (min-width:1199px) {
    .garantie-text-wrapper{
    	padding-top:37px !important;
    }
    .three-packages-section{
		    .container{
		    	ul.nav-tabs{
		    		li{
		    			a{
		    				.tabs-text-wrapper{
		    					margin-top:27px;
		    				}
		    			}
		    		}
		    	}
				.tab-content{
					.tab-pane{
						.image-wrapper{
							.detail-image{
								left:0px;
								width:100%;
							}
						}
						.tab-pane-content{
							.checking-points{
								padding-left:47px;
								.price-big-wrapper{
									right:40px;
								}
							}
						}
					}
				}/*.tab-content*/
			} /*.container*/
    }
}


/*END OF three-packages-section*/