/* START OF 3 packages tabs*/
.nav-tabs > li{
	width:calc(100% / 3);
}



/* END OF 3 packages tabs*/





/*START OF  three-packages-section*/
.three-packages-section{
  .container{
  	padding-left:0;
  	padding-right:0;
    .nav-tabs{
      	li {
      		background-color:$tab-color;
      		min-height:227px;
      		&.active{
      			border-top:5px solid $orange-light;
      		}
      		p{
      		font-size:12px;
      	    } 
      	    a{
              padding-left:5px;
              padding-right:5px;
              min-height:223px;
              border-radius: 0;
                  .tab-image{
                    width:70px;
                    border:5px solid $white;
                    box-shadow: 0px 0px 5px $shadow-color;
                  }

                  h5{
	                color:$orange;
	                font-weight:bold;
	              }
	              p{
                    color:$orange;
	              }
      	    }
          }/*li*/
    }/*.nav-tabs*/

  	.tab-content{
  		padding-left:15px;
  		padding-right:15px;

      .tab-pane{
      	  .detail-head-line{
      	  	margin:0;
      	  	padding:20px;
      	  }
      	  .price-wrapper{
      	  	background-color:$blue;
      	  	color:$white;
      	  	font-size:1.5em;
      	  	width:120px;
      	  	height:120px;
      	  	margin:0 auto;
      	  	border-radius: 100%; 
    	  	position:relative;
      	  	transform:rotate(10deg);
      	  	transition:all 1s ease-in-out;
      	  	&:hover{
      	  		transform:rotate(360deg);
      	  		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      	  	};

      	  		.price{
      	  			position:absolute;
      	  			left:50%;
      	  			top:50%;
      	  			font-size:1.1em;
      	  			transform:translate(-50%, -50%);
      	  			span{
      	  				font-size:1.7em;
      	  			}
      	  		}
      	  }
      	  p{
             color:$grey-light;
             font-size:1.4em;
             margin:0;
             padding:10px;
      	  }
          .image-wrapper{
              padding-top:15px;
              padding-bottom:15px;
              .detail-image{
                  transform:rotate(-13deg);
                  padding:10px;
                  width:200px;
              }
          }

          .checking-points{
             padding-left:10%;
             padding-right:10%;
                  ul{
                  	padding-top:10px;
                  }
                  li {
                      display: block;
                      text-align:left;
                      font-size:1.25em;
                  }

                  li:before {
                      /*Using a Bootstrap glyphicon as the bullet point*/
                      content: "\e089";
                      font-family: 'Glyphicons Halflings';
                      font-size: 9px;
                      float: left;
                      margin-top: 4px;
                      margin-left: -17px;
                      color: $green;
                  }/*li:before*/
                  .shake-slow.shake-constant{
                  	animation: shake-slow 20s ease-in-out infinite;
                  	background-color:$orange;
                  	border:none;
                  	color:$white;
                  	margin:20px 0px 40px 0px;
                  }
          }/*.checking-points*/

          .tab-pane-sub-content{
          	    border-top:1px solid $grey-super-light;
          	    padding-top: 30px;
    			padding-bottom: 30px;
				.garantie-image{
					width:120px;
				}
				.garantie-text-wrapper{
						.garantie-sub-headline{
                            padding:0;
                            margin:0;
						}
						.garantie-sub-body-text{
                            padding:0;
						}
				}
		  }/*.tab-pane-sub-content*/
      }/*.tab-pane*/
  	}/*.tab-content*/
  }/*.container*/

}/*.three-packages-section*/











@media screen and (min-width:768px) {
   .three-packages-section{
   		  background-color:$tab-color;
		  .container{
		     box-shadow: 0px 0px 20px 0px $shadow-color;
		     position:relative;
			 top:-132px;
			 .nav-tabs{
			 	li {
			 		
			 		min-height:132px;
			 		&.active{
			 		
			 		}
			 		p{
			 			font-size:12px;
			 		} 
			 		a{
			 			
			 			min-height:126px;
			 			.tab-image{
			 				width:70px;
			 				display:inline-block;
			 				float:left;
			 			}
			 			.tabs-text-wrapper{
			 				width:calc(100% - 70px);
			 				padding-left:15px;
			 				display:inline-block;
			 				float:right;
			 				margin-top:-12px;
			 					h5{
					 				font-size:1.1em;
					 				text-align:left;
					 			}
					 			p{
					 				font-size:16px;
					 				text-align:left;
					 			}
			 			}
			 		}
			 	}/*li*/
			 }/*.nav-tabs*/


			 .tab-content{
			 	background-color:$white;
			 	padding-left:15px;
			 	padding-right:15px;

			 	.tab-pane{
			 		.price-wrapper{
			 			right:-30%;
			 		}
			 		h4{
			 			margin-top:0;
			 			padding:30px;
			 		}
			 		.image-wrapper{
			 			padding-top:15px;
			 			padding-bottom:15px;
			 			padding-left:10%;
			 			/*.detail-image{
			 				position:relative;
			 			}*/
			 		}

			 		.checking-points{
			 			padding-left:10%;
			 			padding-right:10%;
			 			ul{
		                  	padding-top:50px;
		                }
			 			li {
			 				display: block;
			 				text-align:left;
			 			}

			 			li:before {
			 				/*Using a Bootstrap glyphicon as the bullet point*/
			 				content: "\e089";
			 				font-family: 'Glyphicons Halflings';
			 				font-size: 1.1em;
			 				float: left;
			 				margin-top: 0px;
			 				margin-left: -27px;
			 				color: $green;
			 			}/*li:before*/
			 		}/*.checking-points*/


			 		.tab-pane-sub-content{
							width:90%;
							margin:0 auto;
							padding-bottom:40px;
							.garantie-text-wrapper{
								text-align:left;
								padding-top:20px;
								padding-left:60px;
							}
			 		}/*.tab-pane-sub-content*/

			 	}/*.tab-pane*/
			 }/*.tab-content*/

		  }/*.container*/
   }/*.three-packages-section*/
}/*@media screen and (min-width:768px)*/








@media screen and (min-width:992px){
	.three-packages-section{
/*
			.detail-image{
			 	position:relative;
			 	left:0;
			 	width:270px !important;
			 }*/
			 .tab-content{
		  		padding-left:15px;
		  		padding-right:15px;

			      .tab-pane{
			      	  .detail-head-line{
			      	  	margin:0;
			      	  	padding:20px;
			      	  }
      	  				.price-wrapper{
      	  					right:-40% !important;
			 				top:-60px;
      	  				}
      	  				 .tab-pane-content{
						 	margin-top:-110px;
						}
				 }
      	  	}/*.tab-content{*/


	}
   
}/*@media screen and (min-width:992px)*/




@media screen and (min-width:1199px) {
    .garantie-text-wrapper{
    	padding-top:37px !important;
    }
    .three-packages-section{
		    .container{
				.nav-tabs{
					li {
					 		
					 a{
					 	.tabs-text-wrapper{
					 		margin-top:0px;	
					 	}
					 }
					}/*li*/
				}/*.nav-tabs*/
			} /*.container*/
    }
}


/*END OF three-packages-section*/