.contact-hero{


	.sub-section{
		/*height:80px;*/
		border-bottom:1px solid $grey-super-light;
	}

    .container{
    		.contact-header{
				text-align:center;
				/*color:$white;*/
				p,a{
					margin-bottom:20px;
				}
			}


			.contact-detail{
				text-align:center;
				color:$orange;
				/*color:$white;*/
				    .card{
				    	margin-bottom:40px;
				    	p,a{
				    		color:$orange;
				    		margin-top:10px;
				    	}
				    }
				    .icon{
				    	font-size:2.5em;

				    }

				 	.contact-method{
				 	    font-size:1.3em;
				 	    color:$grey-dark;
				 	    margin-top:10px

				 	}
					.border-deco{
						border-bottom:2px solid $orange;
						width:50px;
						height:10px;
						margin:0 auto;
					}
			}
    }
	
}/*.hero.contact*/




@media screen and (min-width:500px) {
   .contact-hero{
   		.container{
   			.contact-detail{
   				.icon{
   					img{
   						width:180px;
   					}
   				}
   			}
   		}
   }	
}




@media screen and (min-width:768px) {
   .contact-hero{
   		.container{
   			.contact-detail{
   				.icon{
   					img{
   						width:160px;
   					}
   				}
   			}
   		}
   }	
}


@media screen and (min-width:992px) {
   .contact-hero{
   		.container{
   			.contact-detail{
   				.icon{
   					img{
   						width:180px;
   					}
   				}
   			}
   		}
   }	
}