@import "custom/content-section-detail/hero";
@import "custom/content-section-detail/three-package-tabs";
@import "custom/content-section-detail/how-it-works";
@import "custom/content-section-detail/termin-vereinbaren";
@import "custom/content-section-detail/testmonial";
@import "custom/footer/footer";







//contact page
@import "custom/contact";






a:hover,a:focus{
	color:$grey-light;
	text-decoration: none;
}












































